<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.android.siscombat"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_laucher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black" >
        <activity
            android:name="br.com.android.siscombat.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.com.android.siscombat.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="br.com.android.siscombat.ClienteConsultar"
            android:label="@string/title_activity_cliente_consultar"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="br.com.android.siscombat.ClienteManter"
            android:label="@string/title_activity_cliente_manter"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="br.com.android.siscombat.MenuPrincipal"
            android:label="@string/title_activity_menu_principal"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="br.com.android.siscombat.AgendaConsultar"
            android:label="@string/title_activity_agenda_consultar" >
        </activity>
        <activity
            android:name="br.com.android.siscombat.JogosConsultar"
            android:label="@string/title_activity_jogos_consultar" >
        </activity>
        <activity
            android:name="br.com.android.siscombat.ConfiguracoesConsultar"
            android:label="@string/title_activity_configuracoes_consultar" >
        </activity>
    </application>

</manifest>
